{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.name }}</td>
                <td>{{ formation.adress }}</td>
                <td>{{ formation.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_formation_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formation_new') }}">Create new</a>
{% endblock %}
