{% extends 'base.html.twig' %}

{% block title %}Create new Formation{% endblock %}

{% block body %}
    <h1>Create new Formation</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.adress) }}
        {{ form_row(form.status) }}
        <button class="btn">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_formation_index') }}">Back to list</a>
{% endblock %}
